<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/login.css">
    <link rel="stylesheet" href="/signup.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% if session[:username] %>
      <div class='nav'>
          <a href="/profile/<%= session[:username] %>">Profile</a>
          <a href='/logout'>Log Out</a>
          <a href='/account/<%= session[:username] %>'>Account</a>
          <a href='/hub'>The Hub</a>
      </div>
    <% end %>

    <%= yield %>
  <%# <script src='/main.js'></script> %>
</body>
</html>