<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class='nav'>
      <% if session[:username] %>
        <a href="/profile/<%= session[:username] %>">Profile</a>
        <a href='/logout'>Log Out</a>
        <a href='/account/<%= session[:username] %>'>Account</a>
        <a href='/hub'>The Hub</a>
    </div>
      <% else %>
        <a class="login-button" href='/'>Login</a>
      <% end %>
    <%= yield %>
  <%# <script src='/main.js'></script> %>
</body>
</html>