<div class="content-login">
    <div class="left-panel">
        <h1 class="gold">$</h1><h1>ocial </h1> <h1 class="gold"> $</h1><h1>tudio</h1>
    </div>
    <div class=right-panel>
        <div class="login">
            <form class="login-form" action='/login' autocomplete="off" method="POST">
                <input class="login-form_username" type="text" name="username" autocomplete="off" placeholder="Username">
                <input class="login-form_password" type="password" name="password" autocomplete="off" placeholder="Password">
                <input class="login-form_button" type="submit" value="Log in">
            </form>
        </div>
        <div class="home-links">
            <h2>A Real Social Experience</h2>
            <a class="signup-button" href='/signup'>Sign Up</a>
        </div>
    </div>
</div>