<form class="login-form" action='/login' autocomplete="off" method="POST">
    <input class="login-form_username" type="text" name="username" autocomplete="off" placeholder="Username"><br> 
   <input type="password" name="password" autocomplete="off" placeholder="Password"><br>
   <input type="submit" value="Login"><br>
</form>
<a href='/signup'>Sign Up</a>