<form class="login-form" action='/login' autocomplete="off" method="POST">
    <input class="login-form_username" type="text" name="username" autocomplete="off" placeholder="Username">
   <input class="login-form_password" type="password" name="password" autocomplete="off" placeholder="Password">
   <input class="login-form_button" type="submit" value="Log in">
</form>
<a class="signup-button" href='/signup'>Sign Up</a>