

<h1 class="greeting">Hello <%= session[:username]%></h1>
<div class="profile-container__right">
            <div class="create-post">
                <form class="create-post__form" action='/profile' method='POST'>
                    <input class="create-post__text" type="text" name='content' placeholder="Speak Your Mind">
                    <input class="create-post__button" type="submit" value="Post">
                </form>
            </div>
    <% @user.posts.order(created_at: :desc).limit(20).each do |post|%>
        <div class="user-posts">
            <div class="user-posts__post">
                <p><%= post.content %> </p>
            </div>
        </div>
    <% end %>
</div>






