<h1>Hello <%= session[:username]%></h1>

<form action="/user" method="POST">
    <input type="text" name="searched_user" placeholder="Search For Users">
    <input type="submit" value="Find User">
</form>

<form action='/profile' method='POST'>
    <input type="text" name='content' place="Enter a post">
    <input type="submit" value="Post">
</form>


<% @user.posts.order(created_at: :desc).limit(20).each do |post|%>
    <div>
        <h3><%= post.content %> </h3>
    </div>
<% end %>