<form action='/profile' method="POST">
   <input type="text" name="user[first_name]" placeholder="First Name"> 
   <input type="text" name="user[last_name]" placeholder="Last Name"> 
   <input type="email" name="user[email]" placeholder="Email"> 
   <input type="text" name="user[username]" placeholder="Username"> 
   <input type="number" name="user[age]" placeholder="Age"> 
   <input type="date" name="user[birthday]"> 
   <input type="radio" name="user[sex]" value="Male">Male 
   <input type="radio" name="user[sex]" value="Female">Female 
   <select>
      <% $mains.each do |main| %>
         <option value="<%= main %>"><%= main %></option>
      <% end %>
   </select>
</form>
