
    <div class="top-panel">
        <h2>$ocial $tudio</h2> 
        <div class="user-searchbar">
            <form class="user-searchbar__form" action="/user" method="POST">
                <input class="change-textarea-color user-searchbar__username" type="text" name="searched_user" placeholder="Search For Users">
                <input class="change-btn-color user-searchbar__button" type="submit" value="Find User">
            </form>
        </div>
    </div>
      
       
    <div class="profile-container">
        <div class="profile-container__left">
            <div class='profile-navbar'>
                <a href='/hub'>The Hub</a>
                <a href="/profile>">Profile</a>
                <a href='/account'>Account</a>
                <a href='/logout'>Log Out</a>
            </div>
        </div>

        <div class="profile-container__right">
            <div class="account-page">
                <div class="account-info">
                    <p><span>First Name: </span>Gustavo</p> 
                    <p><span>Last Name: </span>Briceno </p> 
                    <p><span>Username: </span>gusbrcn</p> 
                    <p><span>Email: </span>gus@email.com</p> 
                    <p><span>Birthday: </span>5/24/1994</p> 
                </div>
                <div class="dark-mode">
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="change-username">
                    <h2> Change Username</h2>
                    <form class="change-username__form"action='/change_username' autocomplete="off" method='POST'>
                        <label for="username">Enter new username</label><br>
                        <input class="change-textarea-color change-username__text" type="text" name="new_username" autocomplete="off" placeholder="New User Name"><br>
                        <label for="password">Enter your password to confirm the change</label><br>
                        <input class="change-textarea-color change-username__password" type="password" name="password" autocomplete="off" placeholder="Password">
                        <input class="change-btn-color change-username__button" type="submit" value="Change Username">
                    </form>
                </div>
                <div class="change-password">
                    <h2> Change Password</h2>
                    <form class="change-password__from" action='/change_password' autocomplete="off" method='POST'>
                        <label for="username">Enter current password</label><br>
                        <input class="change-textarea-color change-password__current-password" type="password" name="current_password" placeholder="Current Password"><br>
                        <label for="password">Enter your new password</label><br>
                        <input class="change-textarea-color change-password__new-password" type="password" name="new_password" placeholder="New Password">
                        <label for="password">Confirm your new password</label><br>
                        <input class="change-textarea-color change-password__confirm-password" type="password" name="confirm_password" placeholder="Confirm New Password">
                        <input class="change-btn-color change-password__button" type="submit" value="Change Password">
                    </form>
                </div>
<%# disable account %>
                <div class="disable-account">
                    <h2> Disable Account</h2>
                    <form class="disable-account__form" action="/disable_account" autocomplete="off" method="POST">
                        <label for="username">Enter your password</label><br>
                        <input class="change-textarea-color disable-account__password" type="password" name="password" placeholder=" Password"><br>
                        <label for="password">Confirm password</label><br>
                        <input class="change-textarea-color disable-account__confirm-password" type="password" name="confirm_password" placeholder="Confirm Password">
                        <input class="change-btn-color disable-account__button" type="submit" value="Disable Account">
                    </form>
                </div>
            </div>
        </div>
    </div>
        
        
