<form action="/add_friend" method="POST">
    <input type="submit" value="Add Friend">
<form>
<h1><%=session[:searched_user]%>'s Profile</h1>
<% @searched_user.posts.order(created_at: :desc).limit(20).each do |post|%>
    <div>
        <h3><%= post.content %> </h3>
    </div>
<% end %>