<h1 class="greeting"><%= @searched_user.username %>'s Profile</h1>
<div class="profile-container__right">
<% @searched_user.posts.order(created_at: :desc).limit(20).each do |post|%>
    <div class="user-posts">
        <div class="user-posts__post">
            <span><a href="/user/<%= post.user.username %>">@<%= post.user.username %></a></span>
            <p ><%= post.content %> </p>
        </div>
    </div>
<% end %>
</div>