body {
    margin: 0;
    font-family: "Helvetica Neue";
    // overflow: hidden;
}


.login {
    .login-form {
        // position: absolute;
        left: 50%;
        top: 65px;
    
        .login-form_username {
                background-color: whitesmoke;
                margin: 10px 0px;
                border-radius: 15px;
                height: 20px;
                width: 250px;
                border: 5px solid whitesmoke;
                font-size: 10pt;
                padding-left: 10px;
        
        }
    
        .login-form_password {
                background-color: whitesmoke;
                margin: 10px 0px;
                border-radius: 15px;
                height: 20px;
                width: 250px;
                border: 5px solid whitesmoke;
                font-size: 10pt;
                padding-left: 10px;    
        }
    
        .login-form_button {
            background-color: rgb(209, 163, 225);
                margin: 10px 0px;
                border-radius: 15px;
                height: 30px;
                width: 60px;
                border: 5px solid rgb(209, 163, 225);
                font-size: 10pt;
                text-align: center;
                color: white;
        }
    }
}

.signup-button {
    background-color: #d1a3e1;
    margin: 10px 0px;
    border-radius: 15px;
    height: 20px;
    width: 280px;
    border: 5px solid #d1a3e1;
    font-size: 10pt;
    text-align: center;
    text-decoration: none;
    color: white;
    position: fixed;
    left: 60%;
    bottom: 30%;
}

.login-button {
    background-color: #d1a3e1;
    margin: 10px 0px;
    border-radius: 15px;
    height: 20px;
    width: 280px;
    border: 5px solid #d1a3e1;
    font-size: 10pt;
    text-align: center;
    text-decoration: none;
    color: white;
    position: fixed;
    left: 60%;
    bottom: 25%;
}

.left-panel {
    background-color: #d1a3e1;
    // position: fixed;
    height: 100%;
    width: 35vw;
    h1 {
        font-family: miama;
    color: white;
    font-size: 95pt;
    }
}