body {
    margin: 0;
    font-family: "Helvetica Neue";
    background-color: white;
}
.top-panel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;

    h2 {
        font-size: 30pt;
        font-family: miama;
        color: #795286;
        font-weight: bold;
    }
    .user-searchbar {

        .user-searchbar__username {
            background-color: whitesmoke;
            margin: 10px 0px;
            border-radius: 5px;
            height: 45px;
            width: 400px;
            border: 2px solid #795286;
            font-size: 12pt;
            padding-left: 10px;
        }

        .user-searchbar__button {
            color: #795286;
            margin: 10px 0px;
            border-radius: 5px;
            height: 51px;
            width: 100px;
            border: 4px solid #795286;
            font-size: 12pt;
            text-align: center;
        }
    }
}


.profile-container {
    height: 100vh;
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 30% 70%;
    grid-template-areas: 
    'greet greet'
    'left right';
    grid-row-gap: 30px;
    
    .greeting {
        text-align: center;
        color: #795286;
        font-size: 40pt;
        grid-area: greet;
    }

    .profile-container__left {
        width: 25vw;
        grid-area: left;
        .profile-navbar {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-evenly;
            height: 35vh;
            width: 15vw;
            margin-left: 20%;
            border-radius: 5px;
            border: 2px solid #795286;

            a {
                text-decoration: none;
                background: #795286;
                padding: 10px 60px 10px;
                text-align: center;
                border-radius: 5px;
                color: white;
                font-weight: bold;
            }
        }
    }

    .profile-container__right {
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 3px;
        height: auto;
        width: 50vw;
        grid-area: right;
        
        .create-post__text {
            background-color: whitesmoke;
            margin-bottom: 25px;
            border-radius: 5px;
            height: 150px;
            width: 600px;
            border: 2px solid #795286;
            font-size: 12pt;
            padding-left: 10px;
        }

        .create-post__button {
            color: #795286;
            margin: 10px 0px;
            border-radius: 5px;
            height: 51px;
            width: 100px;
            border: 4px solid #795286;
            font-size: 12pt;
            text-align: center;
            cursor: pointer;
        }

        .user-posts {
            color: black;
            border-top: 2px solid #795286;
            border-bottom: 2px solid #795286;
            border: 2px solid #795286;
            padding: 15px 200px 15px 200px;
            width: 40vh;
            font-size: 14pt;
        }
    }
}

