body {
    margin: 0;
    font-family: "Helvetica Neue";
    background-color: white;
}
.top-panel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;

    h2 {
        font-size: 30pt;
        font-family: miama;
        color: #795286;
        font-weight: bold;
    }

    span {
        color: #D5A848;
    }
    .user-searchbar {

        .user-searchbar__username {
            background-color: whitesmoke;
            margin: 10px 0px;
            border-radius: 5px;
            height: 45px;
            width: 400px;
            border: 2px solid #795286;
            font-size: 12pt;
            padding-left: 10px;
        }

        .user-searchbar__button {
            color: #795286;
            margin: 10px 0px;
            border-radius: 5px;
            height: 51px;
            width: 100px;
            border: 4px solid #795286;
            font-size: 12pt;
            text-align: center;
            cursor: pointer;
        }
    }
}


.profile-container {
    height: 100vh;
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 30% 70%;
    grid-template-areas: 
    'greet greet'
    'left right';
    grid-row-gap: 30px;
    
    .greeting {
        text-align: center;
        color: #795286;
        font-size: 40pt;
        grid-area: greet;
    }

    .profile-container__left {
        width: 25vw;
        grid-area: left;
        .profile-navbar {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-evenly;
            height: 35vh;
            width: 15vw;
            margin-left: 20%;
            border-radius: 5px;
            border: 2px solid #795286;

            a {
                text-decoration: none;
                background: #795286;
                padding: 10px 60px 10px;
                text-align: center;
                border-radius: 5px;
                color: white;
                font-weight: bold;
            }
        }
    }

    .profile-container__right {
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 3px;
        height: auto;
        width: 50vw;
        grid-area: right;

        .create-post {
            margin-bottom: 25px;
            .create-post__form {
                display: grid;
                grid-template-columns: auto;
                grid-template-rows: auto;
                grid-template-areas: 
                "text."
                "text button"
                "text.";

                .create-post__text {
                    background-color: whitesmoke;
                    margin-bottom: 25px;
                    border-radius: 5px;
                    border: 2px solid #795286;
                    font-size: 12pt;
                    padding-left: 10px;
                    grid-area: text;
                }
        
                .create-post__button {
                    color: #795286;
                    margin-left: 10px;
                    border-radius: 5px;
                    height: 51px;
                    width: 100px;
                    border: 4px solid #795286;
                    font-size: 12pt;
                    text-align: center;
                    cursor: pointer;
                    grid-area: button;
                }
            }
        }
        
        .user-posts {
            color: black;
            border-top: 2px solid #795286;
            border-bottom: 2px solid #795286;
            border: 2px solid #795286;
            padding: 15px 200px 15px 200px;
            width: 40vh;
            font-size: 14pt;
            .user-posts__post {
                span {
                    color: grey;
                    font-size: 12pt;
                    a {
                        text-decoration: none;
                        color: grey;
                    }
                }
            }
        }

        .account-page {
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: 50% 50%;
            grid-template-areas: 
            "info change-username"
            "info change-password"
            "info disable-account";
            h2 {
                color: #795286;
                font-size: 18pt;
            }
            label {
                font-size: 14pt;
                font-weight: bold;
            }

            .account-info {
                display: flex;
                flex-direction: column;
                align-items: end;
                font-size: 14pt;
                grid-area: info;
                span {
                    font-weight: bold;
                    color: #795286;
                    font-size: 16pt;
                }
            }

            .change-username {
                grid-area: change-username;
                border-bottom: 3px solid #795286;
                
                .change-username__text {
                    background-color: whitesmoke;
                    margin: 5px 0px;
                    border-radius: 5px;
                    height: 40px;
                    width: 350px;
                    border: 2px solid #795286;
                    font-size: 12pt;
                    padding-left: 10px;
                }

                .change-username__password {
                    background-color: whitesmoke;
                    margin: 5px 0px;
                    border-radius: 5px;
                    height: 40px;
                    width: 350px;
                    border: 2px solid #795286;
                    font-size: 12pt;
                    padding-left: 10px;
                }

                .change-username__button {
                    color: #795286;
                    margin: 10px 0px;
                    border-radius: 5px;
                    height: 45px;
                    width: 150px;
                    border: 5px solid #795286;
                    font-size: 12pt;
                    text-align: center; 
                    cursor: pointer;
                }
            }
            
            .change-password {
                grid-area: change-password;
                border-bottom: 3px solid #795286;

                .change-password__current-password {
                    background-color: whitesmoke;
                    margin: 5px 0px;
                    border-radius: 5px;
                    height: 40px;
                    width: 350px;
                    border: 2px solid #795286;
                    font-size: 12pt;
                    padding-left: 10px;
                }

                .change-password__new-password {
                    background-color: whitesmoke;
                    margin: 5px 0px;
                    border-radius: 5px;
                    height: 40px;
                    width: 350px;
                    border: 2px solid #795286;
                    font-size: 12pt;
                    padding-left: 10px;
                }

                .change-password__confirm-password {
                    background-color: whitesmoke;
                    margin: 5px 0px;
                    border-radius: 5px;
                    height: 40px;
                    width: 350px;
                    border: 2px solid #795286;
                    font-size: 12pt;
                    padding-left: 10px;
                }

                .change-password__button {
                    color: #795286;
                    margin: 10px 0px;
                    border-radius: 5px;
                    height: 45px;
                    width: 150px;
                    border: 5px solid #795286;
                    font-size: 12pt;
                    text-align: center;
                    cursor: pointer; 
                }
            }

            .disable-account {
                grid-area: disable-account;
                margin-bottom: 20px;

                .disable-account__password {
                    background-color: whitesmoke;
                    margin: 5px 0px;
                    border-radius: 5px;
                    height: 40px;
                    width: 350px;
                    border: 2px solid #795286;
                    font-size: 12pt;
                    padding-left: 10px;
                }

                .disable-account__confirm-password {
                    background-color: whitesmoke;
                    margin: 5px 0px;
                    border-radius: 5px;
                    height: 40px;
                    width: 350px;
                    border: 2px solid #795286;
                    font-size: 12pt;
                    padding-left: 10px;
                }

                .disable-account__button {
                    color: #795286;
                    margin: 10px 0px;
                    border-radius: 5px;
                    height: 45px;
                    width: 150px;
                    border: 5px solid #795286;
                    font-size: 12pt;
                    text-align: center;
                    cursor: pointer; 
                }
            }
           
        }

        .hub-user-posts {
            color: black;
            border-top: 2px solid #795286;
            border-bottom: 2px solid #795286;
            border: 2px solid #795286;
            padding: 15px 200px 15px 200px;
            width: 40vh;
            font-size: 12pt;

            span {
                color: grey;
            }
        }
    }
}